@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@700&display=swap');

@import "tailwindcss";

@import "tailwindcss/preflight";

@tailwind utilities;



/* Custom class for animated elements */
.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s cubic-bezier(0.65, 0, 0.35, 1), transform 0.8s cubic-bezier(0.65, 0, 0.35, 1);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
}